@model IEnumerable<TeamServiceModel>

@{
    ViewBag.Title = "Teams Administration";
}

<h1>All Teams</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Approved</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
            <tr>
                <td scope="col">@team.Id</td>
                <td scope="col">@team.Name</td>
                <td scope="col">@(team.IsPublic ? "Yes" : "No")</td>
                <td scope="col">
                    <a asp-area="" asp-controller="Teams" asp-action="Delete" asp-route-id="@team.Id" class="btn btn-danger float-right ml-3">Delete</a>
                    <a asp-area="" asp-controller="Teams" asp-action="Edit" asp-route-id="@team.Id" class="btn btn-warning float-right ml-3">Edit</a>
                    <a asp-area="Admin" asp-controller="Teams" asp-action="ChangeVisibility" asp-route-id="@team.Id" class="btn btn-info float-right ml-3">@(team.IsPublic ? "Hide" : "Show")</a>
                    <a asp-area="" asp-controller="Teams" asp-action="Details" asp-route-id="@team.Id" asp-route-information="@team.Name" class="btn btn-primary float-right ml-3">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
