@model AllMatchesQueryModel

@{
    ViewData["Title"] = "Matches";
}

<form method="get">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control">
            </div>

            <div class="form-group col-md-3">
                <input type="submit" class="btn btn-primary d-none" />
            </div>

        </div>
    </div>
</form>

@foreach (var match in Model.Matches)
{
    <div class="card text-center">
        <div class="card-header">
            Match
        </div>
        <div class="card-body">
            <h5 class="card-title">@match.FirstTeam vs @match.SecondTeam</h5>
            <p class="card-text">@match.StartTime</p>
            <a asp-controller="Match" asp-action="Details"
               asp-route-id="@match.Id"
               asp-route-firstTeam="@match.FirstTeam"
               asp-route-secondTeam="@match.SecondTeam"
               asp-route-startTime="@match.StartTime"
               class="btn btn-primary">Details</a>
        </div>
    </div>
}

@if (!Model.Matches.Any())
{
    <h2 class="text-center">No matches found!</h2>
}
