@model AllPlayersQueryModel

@{
    ViewData["Title"] = "Players";
}

<form method="get">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control">
            </div>

            <div class="form-group col-md-3">
                <input type="submit" class="btn btn-primary d-none" />
            </div>

        </div>
    </div>
</form>

<div class="row">
    @foreach (var player in Model.Players)
    {
        <div class="col-md-3">
            <div class="card mb-2">
                <img class="card-img-top" src="@player.Picture" alt="@player.Name - @player.Age ">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@player.InGameName</h5>
                    <a asp-controller="Players" asp-action="Details" asp-route-id="@player.Id" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    }
</div>