@model PlayerDetailsServiceModel

@{
    ViewData["Title"] = "Details";
}


<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Player</h1>
        <div>
            <div class="form-group text-center">
                <img src=@Model.Picture class="img-fluid">
            </div>
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" readonly class="form-control" value="@Model.Name">
            </div>
            <div class="form-group">
                <label asp-for="InGameName">InGame Name</label>
                <input asp-for="InGameName" readonly class="form-control" value="@Model.InGameName">
            </div>
            <div class="form-group">
                <label asp-for="Age">Age</label>
                <input asp-for="Age" readonly class="form-control" value="@Model.Age">
            </div>
            <div class="form-group">
                <label asp-for="Country">Country</label>
                <input asp-for="Country" readonly class="form-control" value="@Model.Country">
            </div>
            <div class="form-group">
                <label asp-for="TwitterUrl">Twitter</label>
                <input asp-for="TwitterUrl" readonly class="form-control" value="@Model.TwitterUrl">
            </div>
            <div class="form-group">
                <label asp-for="InstagramUrl">Instagram</label>
                <input asp-for="InstagramUrl" readonly class="form-control" value="@Model.InstagramUrl">
            </div>
            <div class="form-group text-center">
                <div class="button-holder">
                    <a asp-controller="Players" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary btn-block text-uppercase">Join</a>
                </div>
            </div>
        </div>
    </div>
</section>